input {
    margin: 0;
    padding: 0;
}

.main-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #0a3d62;
    display: flex;
}

/* Scrollable flex */

.main-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.main-wrapper .menu {
    flex: 1;
    display: block;
    background: lightblue;
}

.chat {
    background: white;
    overflow: auto;
}

.chat-wrapper {
    flex: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

@media only screen and (pointer: coarse) {

    .separador {
        height: 20%;
    }

    .nombre {
        width: 15%;
    }
}